body{font-family:Consolas;background-color:#000000;color:#ffffff;}
.updatestatus{background-color:#444444;border-radius:12px;padding:1px;padding-left:12px;}
.proj{background-color:#222222;border:2px;border-radius:12px;padding:10px;border-style:double;border-color:#00aa00;margin-top:30px;transition: transform .2s;animation-fill-mode:backwards;}
.frwbutton{color:#ffffff;background-color:#999999;text-decoration:none;border-radius:5px;padding:10px;margin:10px;}
.title{font-family:Consolas;}
.backbutton{color: #ffffff;background-color: #999999;border: 10px;border-radius: 10px;border-color: #ffffff;padding: 3px;text-decoration:none;}
.fade-in {animation: fadeIn ease 20s;-webkit-animation: fadeIn ease 20s;-moz-animation: fadeIn ease 20s;-o-animation: fadeIn ease 20s;-ms-animation: fadeIn ease 20s;}
@keyframes fadeIn {0% {opacity:0;}66% {opacity:0;}100% {opacity:1;}}
@-moz-keyframes fadeIn {0% {opacity:0;}66% {opacity:0;}100% {opacity:1;}}
@-webkit-keyframes fadeIn {0% {opacity:0;}66% {opacity:0;}100% {opacity:1;}}
@-o-keyframes fadeIn {0% {opacity:0;}66% {opacity:0;}100% {opacity:1;}}
@-ms-keyframes fadeIn {0% {opacity:0;}66% {opacity:0;}100% {opacity:1;}}
::-webkit-scrollbar{width: 10px;background-color:#000;}
::-webkit-scrollbar-track{box-shadow:inset 0 0 5px #888;border-radius:10px;}
::-webkit-scrollbar-thumb{background:#555;border-radius:10px;}
::-webkit-scrollbar-thumb:hover{background:#333;}